<!--
  Generated template for the CreateTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create test</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="wrapper">
  <div *ngIf="user==null">
      To use this function, you have to be logged in.
  </div>
    <div class="newTest" *ngIf="user!=null">
      <ion-label><h2>Create new dressage test</h2></ion-label>
      <form *ngIf="dressageTest" [formGroup]="todo" (ngSubmit)="createTest()">
          <ion-item class="green">
            <ion-label class="green" id="black">Name test</ion-label>
            <ion-input class="green" type="text" [(ngModel)]="dressageTest.name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item class="green">
            <button ion-button round color="primaryGreen" class="btn" type="submit" name="confirm" [disabled]="!todo.valid">Next</button>
          </ion-item>
    </form>

    </div>

</ion-content>
