page-login {

  .errorMessage {
    color: red;
    font-size: 12px;
  }

  .wrapper, .green {
    // background-image: url("../assets/imgs/geopat4.jpg");
    background-color: map-get($colors, secondaryGreen);
    }
  }
