page-menu-lrv {
  .button {
    margin: 0 auto;
    display: block;
    background-color: #4CAF55;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 17px;
    width: 60%;
    height: 75px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    color: #4CAF55;
  }
}
