page-home {

  #wrapper {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    // background-image: url("../assets/imgs/sand2.jpg");
  }

  #myContainer {
    margin: auto;
    width: 125px;
    height: 375px;
    position: relative;
    border-color: black;
    //HIDDEN!
    border: hidden;
    //border: 1px dashed;
    //padding-top: 150%;
    left: -5.5%;
  }

  #buitensteContainer {
   // background-image: url("../assets/imgs/sand.jpg");
    margin: auto;
    width: 144px;
    height: 394px;
    position: relative;
    border: 2px solid;
    //padding-top: 150%; b
  }

  .myAnimation {
    //margin-top: 15%;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: black;
    border-radius: 40px;
  }
  //bron layout button:https://www.w3schools.com/css/css3_buttons.asp
  button {
    // background-color: white;
    border: none;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    background-color:white;
  }

  #desc{
    display:block;
    visibility:hidden;
  }

  #a {
    position: relative;
    top: -5px;
  }

  #c {
    position: relative;
    top: 10px;
  }

  #right {
    float: left;
    position: relative;
    left: 144px;
  }

  #left {
    float: left;
    position: relative;
    left: -25px;
  }

  .f {
    position: relative;
    top: 30px;
  }

  .p {
    position: relative;
    top: 90px;
  }

  .b {
    position: relative;
    top: 150px;
  }

  .r {
    position: relative;
    top: 210px;
  }

  .m {
    position: relative;
    top: 270px;
  }
  /*
  @media only screen and (min-height: 1000px) {
    #myContainer {
      width: 40%;
      padding-top: 120%
    }
  }*/
}
