page-create-exercises {
  #wrapper, .green {
    background-color: map-get($colors, secondaryGreen);
  }

  .black {
    color: black;
  }

  .btn {
    width: 48%;
  }

  #btnShow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 12px;
  }

  .btnCreate {
    width: 48%;
  }

  #circle, .full {
    display: none;
  }

  #direction {
    display: none;
  }

  #letters {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
}
